.hidden_title{
    display:none;
}

.head{
    display: flex;
    background-color: white;
    justify-content: center;
    min-height: 50px;
    position: fixed;
    z-index: 2;
}

.head nav{
    display: flex;
    justify-content: space-between;
}

.head div{
    align-content: center;
}

.div1{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 700px ;
    font-size: 30px;
    background-color: RGB(245, 245, 247);
}

.div1 p{
    font-size: 15px;
    color:gray
}

b{
    font-size: 50px;
}

.div2{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    color: white;
    padding: none;
    border: none;
    font-size: 25px;
    background-color: black;
}

.div3{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 10px solid;
    border-color: white;
    font-size: 20px;
    padding: 30px;

    background-color: RGB(245, 245, 247);
}

.div3 div{
    justify-content: center;
    justify-items: center;
    margin: 0;
    padding: 0;
}

.div3 h2 {
    font-size: 50px;
}

.img1{
    height: 50%;
    margin-top: 100px;
}

.img2{
    width: 50%;
    position: relative;
    margin: 30px;
   
}
.img3{
    width: 100%;
}
.img4{
    width: 100%;
}
button{
    background-color: #077cc5;
    color: white;
    border: none;
    border-radius: 50px;
    padding-top: 9px;
    padding-bottom: 9px;
    padding-right: 15px;
    padding-left: 15px;
    min-width: 120px;   
    font-size: 20px; 
    margin-top: 10px; 
}

.button1{
    background-color: black;
    border: 3px solid #24a0ed;
    color: #24a0ed;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 2px;
    padding-left: 2px;
    margin-left: 20px;
    
}
/* footer tweaks */
.site-footer { font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial; }
.site-footer a:hover { text-decoration: underline; color: #000 !important; }
.site-footer h6 { font-size: .95rem; }
.site-footer .small { font-size: .82rem; line-height:1.5; }
@media (max-width: 575px) {
  .site-footer .col-6 { padding-bottom: 0.8rem; }
}
.social-share a {
    padding: 6px 12px;
    background: #f2f2f2;
    border-radius: 6px;
    text-decoration: none;
    margin-right: 8px;
}
.social-share a:hover {
    background: #dedede;
}
a {
    text-decoration: none;
    color: black;
}

